body {
  font-family: Arial;
  max-width: 600px;
  margin: auto;
}

#messages {
  background: #eee;
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
  border-radius: 5px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 60px;
  margin: 10px 0;
}
